doctype html
html
  head
    title= "Intro Page"
    link(rel="stylesheet", href="/style.css")
  body
  h1= "Admin: Add Data"
  div
    h3= "Add a User"
    div
    form(action="users/added", method="POST")
      div
        label(for="username") What is your username?:
        input(type="text", id="username", name="username", placeholder="Steph123", required)
      div
        label(for="dailycal") What is your daily calorie target?:
        input(type="number", id="dailycal" name="dailycal", placeholder=2000, required)
      div
        p What are your daily macro targets?
      div
        label(for="gCarbs") Carbs (g):
        input(type="number", id="gCarbs" name="gCarbs", placeholder=225, required)
        label(for="gProtein") Protein (g):
        input(type="number", id="gProtein" name="gProtein", placeholder=125, required)
        label(for="gFat") Fat (g):
        input(type="number", id="gFat" name="gFat", placeholder=66, required)
      div
        button(type="submit") Submit
  div
    h3= "Add a Log"
    div
    form(action="/logs/added", method="POST")
      div
        label(for="userid") User Id:
        input(type="number", id="userid" name="userid", placeholder=3, required)
      div
        label(for="logdate") Log Date:
        input(type="text", id="logdate", name="logdate", placeholder="YYYYMMDD", required)
      div
        label(for="foodids") What did you eat? Enter as list of food ids:
        input(type="text", id="foodids", name="foodids", placeholder="1,1,2,2,5", required)
      div
        button(type="submit") Submit
  div
    h3= "Add a Food"
    div
    form(action="/foods/added", method="POST")
      div
        label(for="food_name") Food Name:
        input(type="text", id="food_name", name="food_name", placeholder="Carrot", required)
      div
        label(for="food_desc") Food Description:
        input(type="text", id="food_desc" name="food_desc", placeholder="50g of raw carrots", required)
      div
        label(for="food_cals") Total Calories:
        input(type="number", id="food_cals" name="food_cals", placeholder=60, required)
      div
        p Food macros:
      div
        label(for="gCarbs") Carbs (g):
        input(type="number", id="gCarbs" name="gCarbs", placeholder=14, required)
        label(for="gProtein") Protein (g):
        input(type="number", id="gProtein" name="gProtein", placeholder=1, required)
        label(for="gFat") Fat (g):
        input(type="number", id="gFat" name="gFat", placeholder=0, required)
      div
        button(type="submit") Submit