doctype html
html
  head
    title= "Edit Logs"
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="/style.css")
  body

    div
    h3= "Deleting Logs"
    p="In a 3rd party REST client like Postman, navigate to \/\"logs\", then the id number, then \/\"delete\" in order to remove the specified record:"
      br
      code= "localhost:YOURPORT/logs/7/delete"

    div
    h3= "Editing Logs"
    p="In a 3rd party REST client like Postman, navigate to  \/\"logs\", then the id number, then \/\"edit\", and finally use search queries in order to update the specified record:"
      br
      code= "localhost:YOURPORT/logs/4/edit?date=20230728&food_ids=1&food_ids=1&food_ids=2&food_ids=3&food_ids=4"
    p="Acceptable query tags:"
    ul
      li user_id
      li date
      li food_ids

    div(style="text-align: center;")
            br
            br
            a(href="/") Back 
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
