doctype html
html
  head
    title= "Edit Foods"
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="/style.css")
  body
    div
    h3= "Deleting Foods"
    p="Navigate to \/\"foods\", then the id number, then \"delete\" in order to remove the specified record:"
      br
      code= "localhost:YOURPORT/foods/4/delete"

    div
    h3= "Editing Foods"
    p="Navigate to the \/\"foods\", then the id number, then \"edit\", and finally use search queries in order to update the specified record:"
      br
      code= "localhost:YOURPORT/foods/4/edit?name=carrot&description=one%20cup%20of%20steamed%20carrots&gfat=1"
    p="Acceptable query tags:"
    ul
      li name
      li description
      li cals
      li gcarbs
      li gprotein
      li gfat

    div(style="text-align: center;")
            br
            br
            a(href="/") Back  
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
