doctype html
html
  head
    title= "Intro Page"
    link(rel="stylesheet", href="/style.css")
  body
    nav
      ul
        li
          a Logs
          ul
            li: a(href="/logs") View Logs
            li: a(href="/logs/add") Add Log
            li: a(href="/logs/edit") Edit Log
        li
          a Foods
          ul
            li: a(href="/foods") View Foods
            li: a(href="/foods/add") Add Food
            li: a(href="/foods/edit") Edit Food
        li
          a User
          ul
            li: a(href="/users") View Users
            li: a(href="/users/edit") Edit User Profile


  h1= "Welcome to Calorie Tracker!"
  br
  div
    h2= "How to use Calorie Tracker API"
    div
    h3="Data Categories"
    p= "There are 3 categories of data: Users, Logs, and Foods. To look up all data associated with each category simply navigate to either /users /foods or /logs."
    p= "For example, to look up all foods:"
      br
      code= "localhost:3180/foods"

    div
    h3= "Fetching Data"
    p= "To locate a single data entry, use the id number by either adding it to the URL or using a search query"
      br
      code= "localhost:3180/foods/3"
      br
      code= "localhost:3180/users?user=2"

    div
    h3= "Adding Data"
    p="Navigate to /add to submit new data:"
      br
      code= "localhost:3180/add"
  
    div
    h3= "Deleting Data"
    p="Navigate to the category, then the id number, then \"delete\" in order to remove the specified record:"
      br
      code= "localhost:3180/users/4/delete"

    div
    h3= "Editing Data"
    p="Navigate to the category, then the id number, then \"edit\", and finally use search queries in order to update the specified record:"
      br
      code= "localhost:3180/logs/4/edit?date=20230728&foodids=1&foodids=1&foodids=2&foodids=3&foodids=4"
